# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Exclude sensitive keypair files
keypair/udemy-key
!keypair/udemy-key.pub

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Exclude secret tfvars files if needed
# *.tfvars
# *.tfvars.json
